:root {
    --main-color:#D3D0CF;
    --beige-color:#E8E6E6;
    --brown-color:#947150;
    --black-color:#000000;
    --grey-color:#4B4B4B;
    --white-color:#ffffff;
}

body{
    background-color: var(--main-color);
  }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--main-color);
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}


.navigation {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 3rem;
}

.navigation a {
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    color: var(--grey-color);
    font-size: 1.2rem;
  }

  .navigation a:hover {
    color: var(--brown-color);
  }

  p {
    font-family: 'Public Sans', sans-serif;
    font-size: 1rem;
    color: var(--grey-color);
  }

  footer{
    background-color: var(--white-color);
    margin-top: 6rem;
    padding: 4rem;
    color: var(--grey-color);
    text-align: center;
  }

  button {
    background-color: transparent;
    border-radius: 2rem;
    width: 10vw;
    height: 2.3vw;
    border: 1.5px solid var(--grey-color);
    margin-top: 2rem;
  }

  button:hover {
    background-color: var(--white-color);
  }

/*HOME PAGE*/

h1 {
  font-family: 'Playfair Display', serif;
}

.banner span {
  position: absolute;
}

h1 span:last-child {
  color: var(--brown-color);
  top: 35%;
  margin-left: 5.8%;
  font-size: 6.6vw;
}

h1 span:first-child {
  color: var(--grey-color);
  top: 30%;
  margin-left: 9%;
  font-size: 3vw;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3vw;
  color: var(--grey-color);
}

h2 span:first-child {
  color: var(--brown-color);
}

h2 span:last-child {
  color: var(--grey-color);
}

.banner {
    background-color: var(--main-color);
    margin-left: 6rem;
    margin-right: 6rem;
    position: relative;
}

.banner-img {
    max-width: 100%;
    max-height: 100%;
  }


.block1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -1rem;
  }


.block1-1 img{ /*spikelet white picture*/
    max-width: 180%;
    max-height: 100%;
}


.block1-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .content1 {
    text-align: center;
    padding-left: 5rem;
    padding-right: 10rem;
  }

  .block2{
    background-color: var(--beige-color);
    margin-left: 6rem;
    margin-right: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 3rem;
  }

/*A picture with bread on the board*/
  .block2-2 img {
    width: 120%;
    height: auto;
    margin-left: -5rem;
    transform: rotate(-20deg);
    padding: 1rem;
  }

  .block2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content2 {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }


/*Products page*/
/*
section {
  display: grid;
  grid-template-columns: repeat(3, auto-fit); 
  grid-template-rows: repeat(2, auto-fit); 
  grid-gap: 1rem;
}

div {
  max-width: 20rem;
}

div img {
  width: 100%;
  height: auto;
}
*/


section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 6rem;
  margin-right: 6rem;
  gap: 2rem;
}

section > div {
  flex-basis: calc(33.33% - 2rem);
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
}

section > div > img {
  max-width: 100%;
}

/*
section > div > span {
  position: absolute;
  display: block;
  top: 80%;
  left: 50%;
}*/

.description {
  position: absolute;
  font-size: 1.4vw;
  color: var(--brown-color);
  font-weight: bold;
  text-align: center;
  top: 77%;
}

.details {
  font-size: 0.9vw;
  position: absolute;
  display: block;
  top: 88%;
}

section > div > hr {
  width: 30%;
  border-width: 1px;
  transform: scaleY(0.55);
  position: absolute;
  top: 83%;
  color: var(--brown-color);
}

.products-1,
.products-2 {
  background-color: var(--beige-color);
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 2rem;
  text-align: center;
}

.products-2 {
  margin-top: 2rem;
}

.products-1 {
  margin-bottom: 2rem;
}

.products-1 h2 span {
  display: block;
}

.products-1 h2 span:first-child {
  font-size: 2rem;
}

.products-1 h2 span:last-child {
  font-size: 4rem;
  margin-top: -1rem;
}

/*ABOUT PAGE*/

h3 {
  font-family: 'Noto Serif Display', serif;
  font-size: 2.5vw;
  color: var(--grey-color);
}

.about {
  background-color: var(--beige-color);
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 5rem;
  text-align: center;
  max-width: 100%;
}

.about img {
  max-width: 100%;
  height: auto;
  margin-top: 3rem;
}

.step1,
.step2 {
  background-color: var(--beige-color);
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  max-width: 100%;
}

.about-photo {
  max-width: 100%;
}

.about-photo img {
  max-width: 100%;
  height: auto;
}

.about-content {
  text-align: center;
  padding-right: 4rem;
  padding-top: 4rem;
}

.about-content2 {
  text-align: center;
  padding-left: 4rem;
  padding-top: 4rem;
}

.about-content2 img {
  max-width: 100%;
}

@media screen and (min-width: 701px) and (max-width: 1184px) {
  body {
    background-color: rgb(22, 22, 22);
  }

  section > div {
    flex-basis: calc(50% - 1rem);
  }

  .navigation a {
    font-size: 1rem;
  }

  .logo img {
    width: 10rem; 
    height: auto; 
  }

  p {
    font-size: 1rem;
  }


section,
.products-1,
.products-2 {
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
}

 nav,
.banner,
.block1,
.block2,
.about,
.step1,
.step2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

button {
  background-color: transparent;
  border-radius: 2rem;
  width: 8rem;
  height: 2.1rem;
  border: 1.5px solid var(--grey-color);
  margin-top: 2rem;
}

.description {
  position: absolute;
  font-size: 1.1rem;
  color: var(--brown-color);
  font-weight: bold;
  text-align: center;
  top: 77%;
}

.details {
  font-size: 0.9rem;
  position: absolute;
  display: block;
  top: 88%;
}

.about-content {
  text-align: center;
  padding-right: 1rem;
  padding-top: 1rem;
}

.about-content2 {
  text-align: center;
  padding-left: 1rem;
  padding-top: 1rem;
}

/*home page blocks*/

.block1 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 3rem;
}


.block1-1 img{ /*spikelet white picture*/
  max-width: 180%;
  max-height: 100%;
  background-color: aqua;
}


.block1-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content1 {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(223, 192, 53);
}

.block2{
  background-color: var(--beige-color);
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

/*A picture with bread on the board*/
.block2-2 img {
  width: 120%;
  height: auto;
  margin-left: 0;
  transform: rotate(-20deg);
  padding: 1rem;
}

.block2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2 {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}
/*ABOUT PAGE*/

h3 {
  font-family: 'Noto Serif Display', serif;
  font-size: 2.5vw;
  color: var(--grey-color);
}

.about {
  background-color: var(--beige-color);
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem;
  text-align: center;
  max-width: 100%;
}

.about img {
  max-width: 100%;
  height: auto;
  margin-top: 3rem;
}

.step1,
.step2 {
  background-color: var(--beige-color);
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  max-width: 100%;
}

.about-photo {
  max-width: 100%;
}

.about-photo img {
  max-width: 100%;
  height: auto;
}

.about-content {
  text-align: center;
  padding-right: 2rem;
  padding-top: 1rem;
}

.about-content2 {
  text-align: center;
  padding-left: 2rem;
  padding-top: 1rem;
}

.about-content2 img {
  max-width: 100%;
}

.step1 p,
.step2 p {
  font-size: 1.85vw;
}

  
}

@media screen and (max-width: 700px) {
  body {
    background-color: rgb(53, 41, 41);
  }

  section > div {
    flex-basis: calc(100% - 1rem);
    justify-content: center;
    margin: auto;
  }

  .navigation a {
    font-size: 1rem;
  }

  .logo img {
    width: 10rem; 
    height: auto; 
  }

  nav {
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: auto;
    padding: auto;
    position: relative;
  }

  .navigation {
    justify-content: center;
    list-style: none;
    gap: 3rem;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 5%;
    margin-top: 17%;
    padding: 0%;
    display: flex;
}

.logo {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  padding: auto;
  margin: auto;
  position: absolute;
  width: 100%;
  top: 0%;
  align-content: center;
  display: flex;
}

section,
.products-1,
.products-2 {
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: center;
  padding: 0%;
}

.products-2 {
  padding: 1.5rem;
}

nav,
.banner,
.block1,
.block2,
.about,
.step1,
.step2 {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
}

.block1,
.block2,
.step1 {
 display: grid;
 grid-template-columns: 1fr;
}

p {
  font-size: 0.9rem;
}

h3 {
  font-size: 1.8rem;
}

h2 {
  font-size: 2rem;
}

button {
  background-color: transparent;
  border-radius: 2rem;
  width: 9rem;
  height: 2.4rem;
  border: 2px solid var(--grey-color);
}

.description {
  position: absolute;
  font-size: 1.5rem;
  color: var(--brown-color);
  font-weight: bold;
  text-align: center;
  top: 77%;
}

.details {
  font-size: 0.9rem;
  position: absolute;
  display: block;
  top: 88%;
}

.block2-2 img {
  width: 100%;
  height: auto;
  margin-left: 0;
  transform: none;
  padding: 0;
}

h1 span:last-child {
  color: var(--brown-color);
  top: 15%;
  margin-left: 18%;
  font-size: 18vw;
}

h1 span:first-child {
  color: var(--grey-color);
  top: 10%;
  margin-left: 25%;
  font-size: 9vw;
}

.block1 {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.block1-2 {
  order: 1;
}

.block1-1 {
  order: 2;
}

.content1,
.content2 {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.about-content,
.about-content2 {
  padding: 2rem;
}

.about,
.step1,
.step2 {
  padding: 1rem;
}

.step2 {
  display: flex;
  flex-direction: column;
}

.step2 .about-content2 {
  order: 1;
}

.step2 .about-photo{
  order: 2;
}

.products-1 h2 span:first-child {
  font-size: 2rem;
}

.products-1 h2 span:last-child {
  font-size: 4rem;
  margin-top: -1rem;
  max-width: 100%;
}

.about-photo img {
  max-width: 100%;
  max-height: 100%;
}


@media screen and (min-width: 559.9px) and (max-width: 699.99px) {
  body {
    background-color: rgb(229, 63, 63) !important;
  }

  .about-photo {
    display: flex;
    justify-content: center;
  }

  .step1,
  .step2 {
    padding: 1rem;
  }

  .about-photo img {
    max-width: 100%;
    height: auto;
  }
}


@media screen and (max-width: 385px) {
  .products-1 h2 span:first-child {
    font-size: 2rem;
  }
  
  .products-1 h2 span:last-child {
    font-size: 3rem;
    margin-top: -1rem;
    max-width: 100%;
  }
}

}
